.topnav {
  margin: 0%;
  height: 40px;
  color: rgb(252, 247, 247);
  font-size: 19px;
  background-color: rgba(84, 56, 221, 0.726);
  top: 20;
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding-top: 2%;
}
.body {
  width: 100%;
  height: 100%;
  margin: 0%;
  background-color: rgb(88, 85, 85);
}
.nav-a {
  margin: 0 10% 3% 30px;
  text-align: center;
  text-decoration: none;
  color:white;
}
.form {
  border-radius: 15px;
  background-color: rgb(126, 125, 218);
  padding: 90px;
  font-size: 20px;
}
input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px sandybrown;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
}
input[type=submit]{
  background-color: rgb(200, 200, 230);
  font-size: 23px;
  font-style: oblique;
  font-weight: bold;
}
#country{
  color: black;
  display: inline;
  float: none;
}

}
